{% extends "!base.html" %}
{% block linktags %}
    <link href="{{ pathto('_static/fonts/Raleway-Regular.ttf', 1) }}" rel="preload" as="font" type="font/ttf">
    <link href="{{ pathto('_static/fonts/Raleway-Italic.ttf', 1) }}" rel="preload" as="font" type="font/ttf">
    <link href="{{ pathto('_static/fonts/Raleway-Bold.ttf', 1) }}" rel="preload" as="font" type="font/ttf">
    <link href="{{ pathto('_static/fonts/Raleway-BoldItalic.ttf', 1) }}" rel="preload" as="font" type="font/ttf">
    <link href="{{ pathto('_static/fonts/SourceCodePro-Regular.ttf', 1) }}" rel="preload" as="font" type="font/ttf">
    <link href="{{ pathto('_static/fonts/SourceCodePro-Italic.ttf', 1) }}" rel="preload" as="font" type="font/ttf">
    <link href="{{ pathto('_static/fonts/SourceCodePro-Bold.ttf', 1) }}" rel="preload" as="font" type="font/ttf">
    <link href="{{ pathto('_static/fonts/SourceCodePro-BoldItalic.ttf', 1) }}" rel="preload" as="font" type="font/ttf">
    {{ super() }}
{% endblock %}
{% block extra_styles %}
    {{ super() }}
    <style>
    @font-face {
        font-family: 'Raleway';
        src: url('{{ pathto('_static/fonts/Raleway-Regular.ttf', 1) }}');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Raleway';
        src: url('{{ pathto('_static/fonts/Raleway-Italic.ttf', 1) }}');
        font-weight: 400;
        font-style: italic;
    }
    @font-face {
        font-family: 'Raleway';
        src: url('{{ pathto('_static/fonts/Raleway-Bold.ttf', 1) }}');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Raleway';
        src: url('{{ pathto('_static/fonts/Raleway-BoldItalic.ttf', 1) }}');
        font-weight: 700;
        font-style: italic;
    }
    @font-face {
        font-family: 'Source Code Pro';
        src: url('{{ pathto('_static/fonts/SourceCodePro-Regular.ttf', 1) }}');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Source Code Pro';
        src: url('{{ pathto('_static/fonts/SourceCodePro-Italic.ttf', 1) }}');
        font-weight: 400;
        font-style: italic;
    }
    @font-face {
        font-family: 'Source Code Pro';
        src: url('{{ pathto('_static/fonts/SourceCodePro-Bold.ttf', 1) }}');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Source Code Pro';
        src: url('{{ pathto('_static/fonts/SourceCodePro-BoldItalic.ttf', 1) }}');
        font-weight: 700;
        font-style: italic;
    }
    body { font-size: 16pt; }
    .sidebar-brand-text { display: none; }
    </style>
{% endblock %}
